/* Universal Style */
body {
    font-family: 'Bree Serif', serif;
    background-color: #c14040;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem 2rem 3rem;
}

/* Header Style */

.header-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 10vh;
}

.header-nav {
    background-color: #efe3e3;
    width: 88vw;
    height: max;
    border-radius: 25px;
    display: flex;
    justify-content: space-between; 
    align-items: center;   
    padding: 0 0.8em 0 0.5em;
}

.header-nav__h1 {
    color: #c14040; 
    margin-left: 0.8em;
}

.header-nav__menu-a {
    margin-right: 0.4em;
    color: #c14040;
    font-size: 1.5rem;
    text-decoration: none;
}

/* Home Page Style */

.pokeContainer {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: center;
}

.pokeCard {
    display: flex;
    background: #982c2c;
    align-items: center;
    justify-content: center;
    width: 28vw;
    border-radius: 30px;
    margin: 2em 1vw 0 1vw;    
}

.pokeCard__a {
    text-decoration: none;
}

.pokeCard__img {
    padding: 1rem;
    width: 24vw;
}

.pokeCard__name {
    font-size: 1.5rem;
    text-align: center;
    color: #E9A382;    
}


/* Detail Page Style */

.pokeContainer-detail {
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
    width: 90vw;
    height: max-content;
    padding-top: 2rem;    
}

.pokeContainer-detail__header {
    text-align: center;
        
}

.pokeContainer-detail__h1 {
    color: #fff;
    font-weight: bold;
    padding-bottom: 2rem;
    
}


.pokeContainer-main-detail {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.pokeContainer-detail__img {
    width: 32vw;
    height: 80vh;
}

.pokeContainer-main-detail__stat {
    background-color: #982c2c;
    border-radius: 5px;
    width:55vw;
    height: 70vh;
    padding: 2rem 1rem 2rem 1rem;
    color: #fff;
}

.pokeContainer__type-of-pokemon {
    display: flex;
}

.type-of-pokemon {
    border-radius: 5px;
    padding:0.1rem 0.1rem 0.1rem 0.1rem;
    margin: 2vh 2vw 2vh 0;
    
}

.type-of-pokemon__name-detail {
    font-weight: bold;
    margin: 1vh;
}

.pokeStats{
    font-weight: bolder;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.stat {
    display: flex;
    justify-content: space-between; 
    margin-top: 2.7vh; 
}

.hp {
    margin-left: 5vw;
}

.atk {
    margin-left: 2vw;
}
.def {
    margin-left: 2vw;
}

.speed {
    margin-left: 2.5vw;
}

.progress__bar {
    background-color: black;
    border-radius: 8px;
    width: 30vw;
    padding: 0px;
  }
  
  .progress__bar > div {
    background-color: #fff;  
    height: 100%;
    border-radius: 8px 0 0 8px;    
  }

.pokeContainer-detail__footer {
    text-align: center;    
}

.okeContainer-detail__footer--backlink {
    text-decoration: none;
    color: #fff;
    margin-bottom: 1rem;
}


/* Types Page Style */

/* Footer Page Style */