<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokédex</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header class="header-container">
      <div class="header-nav">
        <h1 class="header-nav__h1">Pokédex</h1>
            <div class="header-nav__menu">
              <a class="header-nav__menu-a" href="/">Liste</a>
              <a class="header-nav__menu-a" href="/types">Types</a>
            </div>
      </div>
    </header>
    <main>
      <div class="pokeContainer">